spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://221.4.62.36:13306/jeecg-boot?characterEncoding=UTF-8&useUnicode=true&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: e$qWDZqNPIDWbbDv
    type: com.alibaba.druid.pool.DruidDataSource
  profiles:
    active: dev
  mvc:
    view:
      prefix: /
      suffix: .html
  thymeleaf:
    mode: HTML5
    suffix: .html
    prefix: classpath:/templates/
    encoding: UTF-8
    content-type: text/html
    cache: false
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 600MB
youku1327:
    file:
      root:
        path: "/Users/aquarius/IdeaProjects/pdf/src/main/resources/file/"

resources:
  static-locations: classpath:/resources/,classpath:/static/,classpath:/templates/


mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.pdf.dao

server:
  port: 80
  servlet:
    context-path:
