<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>国家税务总局广东省电子税务局</title>
    <link rel="stylesheet" href="/static/skin/style/style.css" type="text/css">
    <!--bootstrap css  -->
    <link rel="stylesheet" href="/static/skin/script/module/bootstrap.css" type="text/css">
    <script type="text/javascript" src="/static/skin/script/module/verifyCode.js"></script>
    <script type="text/javascript" src="/static/skin/script/module/jQuery.js"></script>
    <script type="text/javascript" src="/static/skin/script/module/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/skin/script/message/skin/default/Message.css" type="text/css">
    <script type="text/javascript" src="/static/skin/common/script/message/Message.js"></script>
    <script type="text/javascript" src="/static/skin/common/script/jquery/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/static/skin/script/common/asyncontrol.js"></script>
    <script type="text/javascript" src="/static/js/pdfobject.js"></script>
    <script type="text/javascript" src="/static/skin/script/common/My97DatePicker/WdatePicker.js"></script>
    <link href="/static/skin/script/common/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script th:inline="javascript">
        $(function () {
            if (null != document.getElementById("imgObj") && '' != document.getElementById("imgObj")) {
                document.getElementById("imgObj").src = "/etax/DrawImage?random=" + Math.random();
            }
            var fileId = document.getElementById("fileId").value;
            $.ajax({
                type: "POST",
                url: "/pdf/getFileContent?id="+fileId,
                data: null,
                dataType: "json",
                success: function (data) {
                    if (data.err == "error") {
                        return false;
                    } else {
                        var psel = document.getElementById("hjje");
                        psel.value = data.fileAmout;
                        var psel = document.getElementById("tfrq");
                        psel.value = data.fileDate;
                        var psel = document.getElementById("spzh");
                        psel.value = data.fileNo;
                    }
                }
            });
        })
    </script>
</head>
<body>
<input id="fileId" type="hidden" th:value="${fileId}"  />
<form name="formCy" id="formCy" method="get">
    <div style="text-align:center;">
        <div class="div-gdsite-01-iframe-01" id="iframeofall">
            <h1>广东省电子税务局&gt;&gt;电子税票查验</h1>
            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tbody>
                <tr>
                    <td align="right" class="td02-gdsite-01-table-01" width="100px">填发日期：</td>
                    <td align="left" width="180px">
                        <input name="tfrq" id="tfrq" type="text" onchange="tfrqChange()" readonly="true"
                               onfocus="WdatePicker()" class="input1-gdsite-01-table-01" size="25" maxlength="25"
                               value="2019-08-31">
                    </td>
                    <td colspan="3">
                    </td>
                </tr>

                <tr>
                    <td align="right" class="td02-gdsite-01-table-01">金额合计：</td>
                    <td align="left" colspan="4"><input name="hjje" id="hjje" type="text"
                                                        class="input1-gdsite-01-table-01" size="25" maxlength="25"
                                                        onkeypress="return  ((event.keyCode&gt;=48 &amp;&amp; event.keyCode&lt;=57) || event.keyCode == 46)"
                                                        onpaste="return !clipboardData.getData(&#39;text&#39;).match(/\D/)"
                                                        ondragenter="return false" value="2014.12">
                    </td>
                </tr>
                <tr>
                    <td align="right" class="td02-gdsite-01-table-01" id="namespzh">税票字号：</td>

                    <td align="left" width="50%">
	      <span id="spzbhm" style="display: none;">(
	      	<input id="spzb1" name="spzb1" maxlength="3" class="input1-gdsite-01-table-01"
                   style="width: 11%; border-width: 0px 0px 1px; border-style: initial; border-color: initial; display: none;"
                   type="text">
	  			)</span>

                        <select class="input1-gdsite-01-table-01" id="spzb2" name="spzb2" onchange="spzbChange()"
                                style="display: none;">
                            <option value="粤地证">粤地证</option>
                            <option value="粤国证明">粤国证明</option>
                            <option value="粤地证明">粤地证明</option>
                            <option value="粤地电证">粤地电证</option>
                            <option value="粤地电证明">粤地电证明</option>
                            <option value="个税纳税清单">个税纳税清单</option>
                        </select>
                        <input placeholder="税票编号" name="spbh" id="spbh" type="text" class="input1-gdsite-01-table-01"
                               style="border-left: 0px; border-top: 0px; border-right: 0px; display: none;" size="16"
                               maxlength="16">
                        <input placeholder="税票字号" name="spzh" id="spzh" type="text" class="input1-gdsite-01-table-01"
                               style="border-left: 0px; border-top: 0px; border-right: 0px;" size="23" maxlength="20">
                    </td>


                </tr>
                <tr>
                    <td align="right" class="td02-gdsite-01-table-01" width="100px;">说明：</td>
                    <td align="left">
                        <span colspan="4" align="left">
					    1、查验个税纳税清单的，录入查验码；<br>
                        2、查验中央非税收入统一票据的，录入8位票据代码+10位票据号码；<br>
                        3、其他的录入税票字号；<br>
                        4、2019-01-01以后生成表格式票证输入18位字号码。
				  </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        <span class="font02" onclick="btn_tj()" style="cursor:pointer;">查验 </span>
                    </td>
                    <td colspan="1" style="color:red;font-size: 14px;padding-left:10px;padding-top:10px;"
                        align="left">
                        请确认查验网站为http://www.gd-n-tax.gov.cn并核对票面信息后查验
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>


<div>
    <div id="maskLevel" style="position:absolute;top:0;left:0;display:none;text-align:center;z-index:10000;"></div>
    <div id="msg-window" style="position:absolute;z-index:10001;display:none">
        <div class="msg-tl" id="msg-tl">
            <div class="msg-tr">
                <div class="msg-tc" style="cursor:move;" id="msg-tc">
                    <div class="msg-header-text" id="msg-header-text-id"></div>
                    <div class="msg-header-tools" id="msg-header-tools-id">
                        <div class="Message_min" title="最小化"><strong>0</strong></div>
                        <div class="Message_max" title="最大化"><strong>1</strong></div>
                        <div class="Message_close" title="关闭"><strong>r</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="msg-ml" id="msg-ml">
            <div class="msg-mr">
                <div class="msg-mc">
                    <div class="msg-body" style="position:relative" id="msg-ml-div"></div>
                </div>
            </div>
        </div>
        <div class="msg-ml" id="msg-btnl">
            <div class="msg-mr">
                <div class="msg-btn" id="msg-btn-id"></div>
            </div>
        </div>
        <div class="msg-bl" id="msg-bl">
            <div class="msg-br">
                <div class="msg-bc"></div>
            </div>
        </div>
    </div>
</div>

<div style="position: absolute; z-index: 19700; top: -1970px; left: -1970px;">
    <iframe src="/static/skin/script/common/My97DatePicker/My97DatePicker.htm" frameborder="0" border="0"
            scrolling="no" style="width: 186px; height: 198px;"></iframe>
</div>
</body>
</html>
